*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}


.background{
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: rgb(181, 216, 233);
}

.calculator{
    background-color: rgb(208, 228, 185);
    padding: 15px;
    border-radius: 30px;
    max-width: 350px;
    margin: auto;
}

form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),-8px -8px 15px rgba(0,0,0,0.2);
    background: white;
    font-size: 1.4rem;
    cursor: pointer;
    padding: 10px;
    margin: 4px;
    color: rgb(92, 185, 228);
}

form .display{
    display: flex;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    box-shadow: none; 
}

form input.equal{
    width: 130px;
}

form .operator{
    color: rgb(233, 113, 119);
}

h1{
    padding: 2rem;
    color: rgb(233, 218, 137);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}